.from-us-wrap {
  background-color: #f1faef;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.from-us-wrap .title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}

.from-us-wrap .title h1 {
  color: #167fcc;
  font-size: clamp(16px, 5vw, 28px);
}

.from-us-wrap .body {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.from-us-wrap .body .item-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 0 10px;
}

.from-us-wrap .body .item {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  cursor: pointer;
}

.from-us-wrap .body #sell .img-holder {
  background-color: #b2e6d4;
}

.from-us-wrap .body #sell:hover {
  background-color: #b2e6d4;
}

.from-us-wrap .body #leads:hover .img-holder,
.from-us-wrap .body #tenant:hover .img-holder,
.from-us-wrap .body #buy:hover .img-holder,
.from-us-wrap .body #sell:hover .img-holder {
  background-color: #fff;
}

.from-us-wrap .body #buy .img-holder {
  background-color: #d4e9ff;
}

.from-us-wrap .body #buy:hover {
  background-color: #d4e9ff;
}

.from-us-wrap .body #tenant .img-holder {
  background-color: #ffd5a7;
}

.from-us-wrap .body #tenant:hover {
  background-color: #ffd5a7;
}

.from-us-wrap .body #leads .img-holder {
  background-color: #fdebea;
}

.from-us-wrap .body #leads:hover {
  background-color: #fdebea;
}

.from-us-wrap .body .img-holder {
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 9px -3px rgb(58, 57, 57);
}

.from-us-wrap .body .img {
  width: 40px;
  height: 40px;
  background: url(../../assets/img/handdeal.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.from-us-wrap .body .description p {
  font-size: calc(0.1rem + 2vmin);
  color: #666666;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .from-us-wrap .body .item {
    height: 150px;
    width: 150px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 630px) {
  .from-us-wrap .body .item {
    height: 120px;
    width: 120px;
    border-radius: 8px;
  }

  .from-us-wrap {
    min-height: 350px;
  }
}

@media only screen and (max-width: 520px) {
  .from-us-wrap .body .item {
    height: 110px;
    width: 110px;
    border-radius: 8px;
  }

  .from-us-wrap .body .img {
    width: 30px;
    height: 30px;
  }

  .from-us-wrap {
    min-height: 300px;
  }

  .from-us-wrap .title {

    height: 70px;
  }
}




