.background-wrap .reset-head .text p span {
  color: #363636;
}

.background-wrap .reset-head .img {
  background: url(../../assets/img/auth/verify.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text-box-wrap {
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.text-box-wrap label {
  font-size: 1rem;
}

.text-box-wrap input {
  width: 100px;
  text-align: center;
}
