.request-wrap {
  background: #fcfef8;
  min-height: 300px;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  padding: 0 15px;
}
.request-wrap .content {
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: url("../../assets/img/linecircle.png") left bottom,
    url("../../assets/img/line.png") right top, #25455c;
  background-repeat: no-repeat;
}

.request-wrap .text h3 {
  font-size: clamp(16px, 3vw, 24px);
  margin-bottom: 5px;
}

.request-wrap .text h4 {
  font-size: clamp(16px, 3vw, 19.2px);
}

.request-wrap .btn button {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  margin: 3px;
  cursor: pointer;
}

.request-wrap .btn .request {
  background: transparent;
  border: 1px solid #167fcc;
}

.request-wrap .btn .watch:hover,
.request-wrap .btn .request:hover {
  background: #095a94;
}

.request-wrap .btn .watch {
  background: #167fcc;
  border: 1px solid #167fcc;
}

@media only screen and (max-width: 560px) {
  .request-wrap .content {
    padding: 30px;
  }

  .request-wrap .btn button {
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin: 3px;
  }
}

@media only screen and (max-width: 460px) {
  .request-wrap .content {
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  .request-wrap .text{
    margin-bottom: 10px;
  }
}
