@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.banner-wrap {
  background: rgba(0, 0, 0, 0.6) url("../../assets/img/landingImg.jpeg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  padding-bottom: 35%;
}

.banner-wrap .banner-content {
  padding: 0 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.banner-wrap .nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.banner-wrap .nav-section .img-holder {
  background: url("../../assets/img/logo.png");
  width: 260px;
  height: 50px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.banner-wrap .nav-section .nav-side {
  width: 500px;
}

.banner-wrap .nav-section .menu-icon-holder {
  display: none;
}

.banner-wrap .nav-section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner-wrap .nav-section li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
}

.banner-wrap .nav-section li:hover a {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.banner-wrap .nav-section li a {
  text-decoration: none;
  color: #fff;
}

.banner-wrap .nav-section li button {
  padding: 10px 30px;
  background-color: #167fcc;
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.banner-wrap .nav-section li button:hover {
  background-color: #095a94;
}

.banner-wrap .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-bottom: 10px;
}

.banner-wrap .banner-text h1 {
  font-size: 4.7vw;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

.banner-wrap .banner-text p {
  font-size: calc(10px + 1.083vmin);
}

.banner-wrap .banner-text p span {
  font-weight: bold;
}

/*  */
@media only screen and (max-width: 900px) {
  .banner-wrap .nav-section .nav-side {
    width: 450px;
  }

  .banner-wrap .nav-section li button {
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 800px) {
  .banner-wrap .nav-section .nav-side {
    display: none;
  }

  .banner-wrap .nav-section .menu-icon-holder {
    display: block;
    cursor: pointer;
  }

  .banner-wrap .menu-icon-holder .menu-icon {
    width: 2.5rem;
  }

  .banner-wrap .nav-section .img-holder {
    width: 160px;
    height: 50px;
  }
}

@media only screen and (max-width: 450px) {
  .banner-wrap .banner-content {
    padding: 0 30px;
  }
  .banner-wrap .menu-icon-holder .menu-icon {
    width: 1.7rem;
  }

  .banner-wrap .nav-section .img-holder {
    width: 120px;
    height: 50px;
  }
}
