.custom-domain-content {
  min-height: 400px;
  padding-bottom: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.custom-domain-content .domain-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-domain-content .domain-text h3 {
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 10px;
}

.custom-domain-content .domain-text p {
  font-size: 1rem;
  color: #666;
  max-width: 350px;
  text-align: center;
}

.custom-domain-content .custom-name-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.custom-domain-content .custom-http {
  max-width: 100px;
  margin-right: 10px;
}

@media only screen and (max-width: 380px) {
  .custom-domain-content {
  }
}
