.background-wrap .white-background .content{
  min-height: 410px;
  padding-bottom: 10px;
}

.background-wrap .white-background .reset-head {
  min-height: 100px;
}

.background-wrap .reset-head .img {
  background: url(../../assets/img/auth/padlock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  margin-bottom: 10px;
}

.background-wrap .reset-head .text {
  text-align: center;
  max-width: 400px;
}

.background-wrap .reset-head .text h3{
  color: #1c83cd;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.background-wrap .reset-head .text p{
  color: #a1a1a1;
  font-size: 1.1rem;
}

.background-wrap .content .another-way a{
  color: #2186cf;
  text-decoration:none;
  border-bottom: 1px solid #2186cf;
  padding-bottom: 3px;
}
