.background-wrap {
  min-height: 100vh;
  display: flex;
}

.background-wrap .white-background {
  width: 100%;
  max-width: 548px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.background-wrap .white-background form {
  width: 450px;
  min-height: 200px;
  box-shadow: 0 0 30px -0px#c4c2c2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  background: white;
}

.background-wrap .white-background .header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.background-wrap .white-background .logo {
  background: url(../assets/img/auth/authlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 240px;
  height: 40px;
}

.background-wrap .white-background .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-wrap .image-background {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.background-wrap .image-background::before {
  content: "";
  background: rgba(0, 0, 0, 0.4) url(../assets/img/auth/inhousebg.jpeg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  flex: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.background-wrap .image-background .bg-text {
  color: white;
}

.background-wrap .image-background h2 {
  font-size: 2.9vw;
}

.background-wrap .image-background p {
  font-size: calc(9px + 1.2vmin);
}

.background-wrap .modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-wrap .modal-content {
  background-color: white;
  padding: 10px;
  height: 650px;
  width: 100%;
  max-width: 1100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 855px) {
  .background-wrap .image-background {
    display: none;
  }

  .background-wrap .white-background {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
  }

  .background-wrap .white-background::before {
    content: "";
    background: rgba(0, 0, 0, 0.4) url(../assets/img/auth/inhousebg.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    flex: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
@media only screen and (max-width: 1700px) {
  .background-wrap .image-background {
    padding-left: 10px;
    justify-content: center;
  }
}
