.login-content{
  min-height: 400px;
  padding-bottom: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-content .error-space-holder{
  height: 40px;
}

.login-content .forgot-pass{
  color: #666;
}
.login-content .forgot-pass span{
  color: #84bc33;
  cursor: pointer;
}

@media only screen and (max-width: 380px) {
  .login-content {
    padding: 20px;
  }
}
