.modal-bg {
  background: rgba(0, 0, 0, 0.582);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg .img-holder {
  width: 100%;
  max-width: 1000px;
  min-height: 700px;
}
